.projects-section {
    text-align: center;
    padding: 3rem 2rem;
  }
  
  .projects-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .projects-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .project-card {
    background-color: #35383e;
    border-radius: 8px;
    padding: 1.5rem;
    width: calc(50% - 2rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-card h3 a {
    text-decoration: none;
    transition: color 0.3s;
    color:#86b5ff;
  }
  
  .project-card h3 a:hover {
    color: #496edf;
  }
  
  .project-card p {
    font-size: 0.9rem;
    margin: 1rem 0;
    width: auto;
  }
  
  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 1rem;
  }
  
  .project-info .language {
    font-weight: bold;
  }
  
  .project-info .stars,
  .project-info .forks {
    font-size: 0.85rem;
  }
  
  .external:hover{
    color: #35383e;
  }
  
  .project-image{
    width: 371.74px;
    height: 200px;
  }

  .code-link{
    background-color: #1e90ff;
    padding: 10px;
    border-radius: 25px;
  }

  .code-link:hover{
    background-color: #9cb8d3;
  }

  @media (max-width: 768px) {
    .project-image{
      width: 225px;
      height: 121px;
    }

    .project-card{
      width: auto;
    }
  
  }

